<div class="grid_16">
  <h1> <%= t('.login') %> </h1>
</div>


<% if @login_error %>
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <p class="error" id="login_error"> <%= t('.login_error_message')%> </p>
  </div>
  <div class="grid_5">&nbsp;</div>
  <div class="clear"></div>
<% end %>



<%= form_tag do_login_path, :method => :post do %>
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :email, t('.email') %>
    <%= text_field_tag :email %>
  </div>
  <div class="grid_5">&nbsp;</div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password %>
  </div>
  <div class="grid_5">&nbsp;</div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :remember_me, t('.remember_me') %>
    <%= check_box_tag :remember_me %> 
  </div>
  <div class="grid_5">&nbsp;</div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= submit_tag t('.submit') %>
    <strong><%= link_to t('.sign_up'), sign_up_path %></strong>
    <%= link_to t('.recover_password'), 'recover_password' %>
  </div>
  <div class="grid_5">&nbsp;</div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#email').focus(); // Focus the email field of the form
  });
</script>