<tr>
  <td class="align-right"> <%= item.quantity %> </td>
  <td> <%= item.description %> </td>
  <td class="align-right"> <%= number_to_currency item.unit_cost %> </td>
  <td class="align-right"> <%= item.discount %>% </td>
  <td class="align-right"> <%= number_to_currency item.total_price %> </td>
</tr>