<p id="notice"><%= notice %></p>

<p>
  <b>Notes:</b>
  <%= @invoice.notes %>
</p>

<p>
  <b>Terms:</b>
  <%= @invoice.terms %>
</p>

<p>
  <b>Status:</b>
  <%= @invoice.status %>
</p>

<p>
  <b>Client:</b>
  <%= @invoice.client_id %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
