<div class="grid_16">
  <h1><%= t('.invoice') %> #<%= @invoice.id %></h1>
</div>

<div class="grid_8">
  <%= label_tag t('.client') %>
  <%= @invoice.client.name %> <br>
  <%= @invoice.client.company_name %> <br>
  <%= @invoice.client.address %>
</div>

<div class="grid_8">
  <%= label_tag t('.status') %>
  <span class="invoice-status invoice-status-<%= @invoice.status %>"><%= t('.' + @invoice.status) %></span>
</div>  
  
<div class="grid_16"><p><!-- SEPARATOR --></p></div>

<div class="grid_16">
  <label><%= t('.items') %></label>
  <table id="items_table">
    <thead>
      <tr>
        <th width="40"> <%= t('.quantity') %> </th>
        <th width="410"> <%= t('.description') %> </th>
        <th width="85"> <%= t('.unit_cost') %> </th>
        <th width="40"> <%= t('.discount') %> </th>
        <th> <%= t('.total') %> </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="6" class="align-right invoice-total"> <strong>Total: <%= number_to_currency @invoice.total %></strong> </td>
      </tr>
    </tfoot>
    <tbody>
      <% @invoice.items.each do |item| %>
        <%= render :partial => "static_item", :locals => {:item => item} %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="grid_16"><p><!-- SEPARATOR --></p></div>

<div class="grid_16">
  <%= label_tag t('.terms') %><br />
  <%= @invoice.terms %>
</div>

<div class="grid_16"><p><!-- SEPARATOR --></p></div>

<div class="grid_16">
  <%= label_tag t('.notes') %><br />
  <%= @invoice.notes %>
</div>

<div class="grid_16"><p><!-- SEPARATOR --></p></div>

<div class="grid_2">
  <%= button_to t('.send'), '#' if @invoice.status == 'draft' %>
</div>
<div class="grid_4">
  <%= button_to t('.invoices'), invoices_path, :method => :get %>
</div>