<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, t('.email') %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, t('.password') %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :user_type, t('.user_type') %><br />
    <%= f.select :user_type, [[t('.admin'), 'admin'], [t('.user'), 'user']], :prompt => t('.select') %>
  </div>
  <div class="field">
    <%= f.label :company_id, t('.company') %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit t('.create_user') %>
  </div>
<% end %>
