<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>User Type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
