<div class="grid_16">
  <h1> <%= t('.sign_up') %> </h1>
</div>

<% if @user.errors.any? or @company.errors.any? %>
  <div class="grid_5">&nbsp;</div>
  <div id="error_explanation" class="grid_6">
    <% @user.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
    <% @company.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
  </div>
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
<% end %>

<%= form_tag public_user_create_path do %>
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :email, t('.email_html') %>
    <%= email_field_tag :email, @user.email %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :password, t('.password_html') %>
    <%= password_field_tag :password %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :password_confirmation, t('.password_confirmation_html') %>
    <%= password_field_tag :password_confirmation %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :company_name, t('.company_name_html') %>
    <%= text_field_tag :company_name, @company.name %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= label_tag :company_address, t('.company_address_html') %>
    <%= text_field_tag :company_address, @company.address %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_5">&nbsp;</div>
  <div class="grid_6">
    <%= submit_tag t('.sign_up') %>
    <%= link_to t('.login'), show_login_path %>
  </div>
  
<% end %>