<%= form_for(@client) do |f| %>
  <%= f.hidden_field :company_id, :value => current_user.company.id %>
  
  <% if @client.errors.any? %>
    <div id="error_explanation" class="grid_16">
      <% @client.errors.full_messages.each do |msg| %>
        <p class="error"><%= msg %></p>
      <% end %>
    </div>
    <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  <% end %>

  <div class="grid_8">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </div>
  
  <div class="grid_8">
    <%= f.label :email, t('.email') %>
    <%= f.text_field :email %>
  </div>

  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_8">
    <%= f.label :company_name, t('.company_name') %><br />
    <%= f.text_field :company_name %>
  </div>
  
  <div class="grid_8">
    <%= f.label :address, t('.address') %><br />
    <%= f.text_field :address %>
  </div>
  
  <div class="grid_16"><p><!-- SEPARATOR --></p></div>
  
  <div class="grid_16">
    <%= f.submit t('.save_client') %>
  </div>
<% end %>
