<h1>
  <%= t('.list_clients') %>
  <span class="right">
    <%= link_to t('.new_client'), new_client_path %>
  </span>
</h1>

<table>
  <thead>
    <tr>
      <th width="150">Name</th>
      <th>Address</th>
      <th width="200">Company Name</th>
      <th width="200"></th>
    </tr>
  </thead>
  
  <tfoot>
    <tr>
      <td colspan="6">
        <%= will_paginate @clients %>
      </td>
    </tr>
  </tfoot>  

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %> (<%= mail_to client.email, t('.email') %>)</td>
      <td><%= client.address %></td>
      <td><%= client.company_name %></td>
      <td>
        <%= link_to t('.edit'), edit_client_path(client) %>
        <%= link_to t('.destroy'), client, :confirm => t('.confirm_delete'), :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
