<% if defined?(ff) %>
<tr>
  <td> <%= ff.text_field :quantity, :class => 'quantity-input' %> </td>
  <td> <%= ff.text_field :description, :class => 'description-input' %> </td>
  <td> $ <%= ff.text_field :unit_cost, :class => 'unit_cost-input' %> </td>
  <td> <%= ff.text_field :discount, :class => 'discount-input' %> % </td>
  <td> <span class="total-price"><%= number_to_currency item.total_price %></span> </td>
  <td> 
    <a href="javascript:;" class="delete_item"><%= image_tag 'icons/delete.png', :border => 0 %></a> 
    <%= ff.hidden_field :_destroy, :value => 'false' %>
    <%= ff.hidden_field :nested, :value => 'true' if new_record%>
  </td>
</tr>
<% else %>
  <tr>
    <td> <%= text_field_tag 'invoice[items_attributes][${index}][quantity]', 0, :class => 'quantity-input', :id => 'invoice_items_attributes_${index}_quantity' %> </td>
    <td> <%= text_field_tag 'invoice[items_attributes][${index}][description]', nil, :class => 'description-input', :id => 'invoice_items_attributes_${index}_description' %> </td>
    <td> $ <%= text_field_tag 'invoice[items_attributes][${index}][unit_cost]', 0, :class => 'unit_cost-input', :id => 'invoice_items_attributes_${index}_unit_cost' %> </td>
    <td> <%= text_field_tag 'invoice[items_attributes][${index}][discount]', 0, :class => 'discount-input', :id => 'invoice_items_attributes_${index}_discount' %> % </td>
    <td> <span class="total-price"><%= number_to_currency item.total_price %></span> </td>
    <td> 
      <a href="javascript:;" class="delete_item"><%= image_tag 'icons/delete.png', :border => 0 %></a> 
      <%= hidden_field_tag 'invoice[items_attributes][${index}][nested]', 'true' if new_record %>
    </td>
  </tr>
<% end %>