<!DOCTYPE html>
<html>
<head>
  <title>Invoices</title>
  <%= stylesheet_link_tag ['960', 'template', 'colour', 'messages'] %><!-- :all -->
  <%= javascript_include_tag ['application', 'jquery', 'rails', 'jquery.tmpl.min.js'] %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $('#messages').slideDown();
      setTimeout(function(){
        $('#messages').slideUp();
      }, 30000); // 30 seconds
    });
  </script>
</head>
<body>
  <h1 id="head"> 
    Invoices 
    
    <% if signed_in? %>
    <span class="right">
      <%= t('.currently_logged_in_as') %> <strong><%=current_user.email %></strong>
      (<%= link_to t('.not_you'), logout_path, :method => :delete, :confirm => t('.confirm_not_you') %>)
    </span>
    <% end %>
  </h1>

  <ul id="navigation">
    <% if signed_in? %>
      <li> <%= link_to t('.new_invoice'), new_invoice_path, :class => 'active' %> </li>
    
      <li> <%= link_to t('.invoices'), invoices_path %> </li>
      <li> <%= link_to t('.clients'), clients_path %> </li>
      
      <li class="right"> <%= link_to t('.logout'), logout_path, :method => :delete, :confirm => t('.confirm_logout') %> </li>
      <li class="right"><a href="#">Settings</a></li>
    <% else %>
      <li> <%= link_to t('.login'), show_login_path %> </li>
      <li> <%= link_to t('.sign_up'), sign_up_path %> </li>
    <% end %>
  </ul>
  
  <% if flash[:alert] || flash[:notice] %>
  <div id="messages" class="container_16 clearfix" style="display:none;">
    <% if flash[:alert] %>
    <p class="alert"> <%= flash[:alert] %> </p>
    <% elsif flash[:notice] %>
    <p class="notice"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <% end %>
  
  <div id="content" class="container_16 clearfix">
    <%= yield %>
  </div>
  
  <div id="foot">
    Open Source Invoicing Powered by <strong>Invoices</strong>
  </div>

</body>
</html>
